html{
    margin: 63px 98px 51px 98px;
    width: 1283px;
    font-family: 'Roboto', sans-serif;
}
.Ramda a{
    text-decoration: none;
    font-size: 80px;
    vertical-align: bottom;
    color:#000;
}
span{
    color: rgb(17, 154, 223);
}
.header_menu{
    list-style-type: none;
    display: flex;
    border: 1px solid #000;
    /*align-items: center;*/
    background-color:#35444F;
    font-size: 24px;
    height: 72px;
    justify-content: center;*/
}
.list_item{
    border-left: 1px solid;
    border-right: 1px solid;
    line-height: 70px;
    color:azure;
    padding: 0px 33px;
    cursor: pointer;  
}
.list_item:hover{
    background-color: #222F3A;
}
.container{
    display: flex;
    margin-top: 52px;
}
.aside_menu{
    flex-direction: column;
    list-style-type: none;
    border: 1px solid #000;
    width: 344px;
    height: 395px;
    padding: 0px;
    margin: 0px;
}
.list_aside{
    font-size: 27px;
    line-height: 85%;
    padding: 28px;
    color: #495863;
    cursor: pointer;
}
.list_aside:hover{
    background-color: #DBDBDB;
    color: #000;
    padding-left: 70px;
}
.img{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    width: 885px;
    height: 529px;
    margin-left: 52px;
}
img{
    width: 320px;
    height: 381px;
    padding: 50px 0px;
}
img:hover{
    transform: scale(1.1);
}
.text{
    margin: 30px 0px 0px 50px;
    width: 885px;
    font-size: 18px;
    box-sizing: border-box;
}
.par{
    margin-top: 30px;
}
.footer_menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
}
.list_footer{
    padding: 0px 15px 0px 35px;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}
.list_footer:hover{
    color: #3181A6;
    text-decoration: underline;
}
.list_footer_last{
    padding-left: 250px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}